* {
	box-sizing: border-box;
	outline: none;
}

body {
	margin:0;
	padding:0;
}

@font-face {
	font-family: "Bodega Sans";
	src:url(fonts/BodegaSans_Black.ttf);
}

@font-face {
	font-family: "fontawesome";
	src:url(fonts/fontawesome-webfont.ttf);
}

/* ========================================= Début Header====================================================== */

header {
	height:175px;
	background: linear-gradient(135deg, #ffffff 0%,#ffffff 50%,#0a0e0a 50%,#0a0809 100%);
	
}

header img {
	display:block;
	margin-left:50px;
}

nav {
	display:inline-block;
	vertical-align: top;
	position:absolute;
	top:0;
	right:0;
	width:30%;
	margin-bottom: 30px;

}

nav ul {
	padding-left: 0px;


}

nav ul li {
	list-style: none;
}

nav ul li a {
	text-decoration: none;
	font-family: "Bodega Sans";
	font-size: 2.5rem;
	color:white;
}


/* ========================================= Fin  Header====================================================== */


/* =================================================style général main *===================================*/

main {
	background-image: url(img/bg_body.svg);
	background-color: #444444;

}


/* ================================================= Fin style général main *===================================/



/* =========================================  Début Section  Slide====================================================== */


section {
	width:80%;
	margin:0 auto;
}

.slide {
	padding-top: 1px;
	/* annulation de la fustion des marges */
}

.slide h1 {

	font-family: "Bodega Sans";
	font-size: 4rem;
	text-transform: uppercase;
	text-align: center;

}

.slide h1 span {
	color: #ff9d00;
}

.slide img {
	display:block;
	margin: 0 auto;
	border:solid 10px white;
}

/* =========================================  Fin Section  Slide====================================================== */



/* =========================================  Début Section  Découverte====================================================== */


.decouverte {
	margin:0 auto;

	
}

.decouverte h2 {

	font-family: "Bodega Sans";
	font-size: 3rem;
	text-transform: uppercase;
	padding-left:20px;

}

.decouverte h2 span {
	color: #ff9d00;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
	

}

article {
	width:22%;
	display:inline-block;
	background-color: white;
	text-align: center;
	height:auto;
	padding-bottom: 20px;
	margin:0 auto;

}

article h3{
		color: #ff9d00;
		font-family: "Bodega Sans";
		font-size: 2.5rem;
		text-align: center;
		margin-top:20px;
}

article hr {

	background-color: #ff9d00;
	width:80%;
	height:2px;
	border:none;
}

article img {
	max-width:100%;
}

article p {
	text-align: center;
	margin:0 auto;
	font-family: Arial, sans-serif;
	margin-bottom: 40px;

}

article a {

	text-decoration: none;
	padding: 10px 50px;
	background-color: #ff9d00;
	font-family: Arial, sans-serif;
	text-align: center; 
	color:white;
	letter-spacing: 1px;
}
/* =========================================  Fin Section  Découverte====================================================== */
